
<!-- <div class="container" bordercl>

 
    
    </div>
    <div>
       
    </div> -->
    <!-- <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <a routerLink="Regusers">Registered Customers</a><br>
            <a routerLink="food">Adding food</a>
            
            <router-outlet></router-outlet>
          </div>
          <div class="col align-self-center">
          
          </div>
          <!-- <div class="col align-self-end">
            One of three columns
          </div> -->
        <!-- </div>
      </div> -->
      <div class="container">
        <div class="row">
          <div class="col">
          <img [src]="image" alt="" style="width:200px;height:200px">
        </div>
        <div class="col" style="color:brown">
          <br><br>
          <h2>Hello Admin</h2>
        </div>

      
       
        </div>
        <div class="row">

          <div class="col" style="background-color:beige">

            <br><br><br><br>
            <a routerLink="Regusers">Registered Customers</a><br><br>
            <a routerLink="food">Adding foodCategory</a><br><br>
            <a routerLink="categorylist">foodCategory</a><br><br>
            <a routerLink="adminaddedfood">Foods</a><br><br>
            <a routerLink="adminaddedfoodlist">FoodsAvailable</a>
           
           
          </div>
         
          <div class="col">
            <router-outlet></router-outlet>
          </div>
          <!-- <div class="col">
           
           
          </div> -->
        </div>
      </div>