<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="image" alt="" style="width:500px;height:450px;">

    </div>

   
    
    <div class="col">
     <h3>What Type of Food You Want??</h3>
      <div class="card"
        *ngIf = 'books && books.length'>
        <div class="card-body" *ngFor='let book of books'>
          <div class="row">
          <div class="col">
         {{book.category}}
        </div> 
        <div class="col">
          <button    style="cursor:pointer"   style="margin-left: 20px;"> 
          <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
          </button>
    </div>
        </div>
      </div>
    </div>



    </div>
      
   
   
  </div>


    <div class="row">
      <div class="col" style="background-color:beige;height:600px;width:10px">

        <br><br><br><br>
        
        <a routerLink="useraddcategory">Adding foodCategory</a><br><br>
        <a routerLink="usercatlist">foodCategory</a><br><br>
        <a routerLink="useraddedfood">Foods</a><br><br>
        <a routerLink="useraddedfoodlist">FoodsAvailable</a>
       
       
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
      <div class="col">


       
      </div>
    </div>
  </div>
